<h1 align="center"> List of all articles</h1>

<% @articles.each do |artic| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="article-title">
          <%= link_to artic.title, article_path(artic) %>
        </div>
        <div class="article-body">
          <%= truncate(artic.description, length: 100) %>
          <div class="article-meta-details">
            <small>Created by: <%= artic.user.username if artic.user %>?
                             <%= time_ago_in_words(artic.created_at) %> ago
              Last updated: <%= time_ago_in_words(artic.updated_at) %> ago
            </small>
          </div>
        </div>
   <div class="article-actions">
    <%= link_to "Edit this article", edit_article_path(artic), class: "btn btn-xs btn-primary" %>
    <%= link_to "Delete this article", article_path(artic), method: :delete, 
       data: { confirm: "Are you sure you want to delete this article?"}, 
       class: "btn btn-xs btn-danger" %>
  </div>
     </div>
    </div>
  </div>
<% end %>
